@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img id="ErrorImage" src="img\cowboy-cafe-images\BuckingBronco.png" alt="Bucking Bronco" />
<h2 class="text-danger">“Whoops partner, you just got bucked off by an error!”</h2>
